<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script src="angular.min.js"></script>
	<script type="text/usecases">
		1. List the bugs
		2. Add a new bug
		3. Toggle the 'closed' status of the bug
		4. Remove closed bugs
		5. Display statistics
		6. Search for a bug
		7. Sort the bugs
		8. Persist the bugs in localstorage
		9. Pesist the bugs in server
		10. Create and manage projects
	</script>
	<script>
		var bugTracker = angular.module("bugTracker", []);
		bugTracker.controller("bugsController", function($scope){
			$scope.bugs = [
				{title : "Unable to login", isClosed : false},
				{title : "Server communication failure", isClosed : false},
				{title : "Data persistance not predictable",  isClosed : false}
			];
			$scope.addBug = function(){
				var newBug = {
					title : $scope.newBug,
					isClosed : false
				};
				$scope.bugs.push(newBug);
			};
			$scope.toggleStatus = function(bug){
				bug.isClosed = !bug.isClosed;
			};
		});
		
	</script>
</head>
<body ng-app="bugTracker" >
	<h1>Bug Tracker</h1>
	<div class="content" data-ng-controller="bugsController">
		<div class="stats">
			<div></div>
		</div>
		<div class="search"></div>
		<label for="">Bug :</label>
		<input type="text" ng-model="newBug">
		<input type="button" value="Add Bug" ng-click="addBug()">
		<input type="button" value="Remove Closed">
		<ol>
			<li ng-repeat="bug in bugs" ng-click="toggleStatus(bug)">{{bug}}</li>
		</ol>
		
	</div>
</body>
</html>